<h1>
<%= @user.name %>
 の詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>なまえ</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>あどれす</th>
    <td><%= @user.email %></td>
  </tr>
</table>